.contact-section {
  background: black;
  color: white;
  padding: 4rem 1rem;
  padding-bottom: 0;
  font-family: 'Poppins', sans-serif;

  background-image: url('./assets/Pattern.png');
  background-size: cover;
  background-position: center;
  height: 100%;
  position: relative;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
  z-index: 0;
}

.contact-wrapper,
.footer {
  position: relative;
  z-index: 1; /* Ensure they are above the overlay */
}

.contact-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: stretch;
  justify-content: center;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(10px);
}

.form-header {
    text-align: center;
    padding: 2rem;
    margin-bottom: 50px;
}

.form-header h2 {
  font-size: 48px;
  font-weight: 400;
  margin: 0 auto;
}

.form-header p {
  font-size: 18px;
  font-weight: 400;
  margin: 0 auto;
}

.section-pretitle {
  color: #CFF8FF;
}

.section-subtitle_txt {
    color: #fff
}

.form-content {
  flex: 1;
  min-width: 300px;
  padding: 2rem;
}

.form-content h3 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 1rem;
  color: #9DA8A9;
  margin-bottom: 50px;
}

.form-content form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-content input[type="text"],
.form-content input[type="email"],
.form-content input[type="tel"],
.form-content select{
  padding: 0.75rem;
  border: none;
  background: rgba(255,255,255,0.07);
  border-radius: 6px;
  color: white;
}

.phone_code {
  margin-right: 5px;
  width: 15%;
}

.phone {
  width: 80%
}

.form-content input:focus {
  outline: none;
  background: rgba(255,255,255,0.15);
  box-shadow: 0 0 5px rgba(255,255,255,0.3);
}

.services-title {
  font-weight: 500;
  margin-top: 1rem;
  font-size: 16px;
  color: #ACBCC0;
}

.checkbox-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 0.5rem;
}

.checkbox-grid label {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-weight: 400;
  color: #A0A6A7;
}

button[type="submit"] {
  margin-top: 1rem;
  padding: 0.75rem 1rem;
  background: #F75F0B;
  color: white;
  border: none;
  border-radius: 50px;
  font-weight: 600;
  cursor: pointer;
}

.form-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}

.form-image img {
  max-width: 100%;
  border-radius: 12px;
  position: absolute;
  bottom: -50px;
  right: -10px;
}

/* ========== Footer ========== */
.footer {
  margin-top: 4rem;
}

.footer-top {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem;
  background-color: #000;
}

.partners  {
    text-align: center;
    justify-content: center;
    margin: 50px auto;
}

.brand-partners p {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.brand-partners .logos {
  display: flex;
  gap: 1.5rem;
  opacity: 0.7;
    text-align: center;
    justify-content: center;
    margin: 50px auto;
}

.brand-partners .logos img {
    min-width: 150px;
    height: auto;
    transition: transform 0.3s ease;
}

.newsletter input[type="email"] {
  padding: 0.8rem;
  border: none;
  border-radius: 20px 0 0 20px;
  width: 70%;
}

.newsletter button {
  padding: 0.8rem 1rem;
  background: #F75F0B;
  color: white;
  border: none;
  border-radius: 0 20px 20px 0;
}

.newsletter p.privacy {
  font-size: 0.75rem;
  margin-top: 0.5rem;
  opacity: 0.7;
}

.logo-social {
  display: block;
  align-items: center;
  gap: 1rem;
}
.logo-social img {
  margin-bottom: 20px;
}

.logos-wrapper {
  overflow: hidden;
  width: 50%;
  position: relative;
  margin: 0 auto;
}

.logos {
  display: flex;
  gap: 2rem;
  min-width: 200%;
}

.logos img {
  height: 40px;
  object-fit: contain;
  flex-shrink: 0;
}

.logo-comp {
  max-width: 10% !important;
  height: auto;
  margin: 0 auto;
}

/* Animate left to right */
@keyframes scrollLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scrollLeft 18s linear infinite;
}

.socials a {
  margin: 30px 5px;
  color: white;
  border-radius: 50% 50%;
  padding: 0.5rem;
  background-color: #141414;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.socials a:hover {
  background-color: #F75F0B;
  color: white;
}

.signup_txt {
    font-size: 18px;
    color: #fff;
    line-height: 30px;
    max-width: 400px;
    margin: 0 auto;
}

.copy_w {
    font-size: 12px;
    color: #D6D1CE;
    margin-top: 40px;
}

.form-toast {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(29, 29, 29, 0.95);
  color: #fff;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  z-index: 9999;
  box-shadow: 0 5px 20px rgba(0,0,0,0.4);
}


@media (max-width: 768px) {
  .contact-wrapper {
    flex-direction: column-reverse;
    padding: 1.5rem;
  }

  .form-header h2 {
    font-size: 36px;
    font-weight: 400;
    margin: 0 auto;
  }

  .form-header {
    padding: 0;
  }

  .form-header p {
    font-size: 14px;
  }

  .form-image {
    order: 1;
  }

  .footer-top {
    flex-direction: column;
    gap: 2rem;
  }

  .form-content {
    order: 2;
    padding: 0;
  } 

  .signup_txt {
    font-size: 15px;
    color: #fff;
    line-height: 30px;
    max-width: 100%;
    margin: 0 auto;
}

.logos-wrapper {
  overflow: hidden;
  width: 90%;
  margin: 0 auto;
}

  .logos img {
    height: 30px;
  }

  .animate-scroll {
    animation-duration: 25s;
  }
}
