.hero-txt {
    margin-top: 50px;
}

.sm__txt {
    font-size: 18px;
    font-weight: 400;
    color: #A3D9DF;
}

.hero-heading {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
    font-weight: 600;
    text-align: center;
    font-size: 76px;
    line-height: 20px;
    letter-spacing: 2%;
}
  
  .hero-heading span:nth-child(1) {
    color: #F75F0B;
  }
  .hero-heading span:nth-child(2) {
    color: #2FA0B5;
    ;
  }
  .hero-heading span:nth-child(3) {
    color: #ffffff;
  }
  .hero-heading span:nth-child(4) {
    color: #CFF8FF;
  }

  .h__txt {
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
    line-height: 28px;
    letter-spacing: 1%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  
  @media (max-width: 768px) {
    .hero-heading{
        font-size: 45px;
        line-height: 32px;
        font-weight: 500;
        letter-spacing: 1%;
        gap: 10px; 
    }
  
    .h__txt {
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 1%;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
  }