@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Hero Background */
.hero-bg {
  background-image: url('./assets/Pattern.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative; /* Ensure the pseudo-element is positioned relative to this */
}

/* Dark Overlay using ::before */
.hero-bg::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 0;
}

/* Ensure content is above the overlay */
.hero-bg > * {
  position: relative;
  z-index: 1;
}

img {
  max-width: 100%;
}

/* Apply Poppins font globally */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0 !important;
}

/* Preloader styles */
svg path {
  stroke: #ffffff;
  stroke-width: 2;
  fill: none;
}

.orange-stroke path {
  stroke: #F75F0B;
  stroke-width: 2;
  fill: none;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: drawStroke 3s ease-in-out infinite;
}

@keyframes drawStroke {
  to {
    stroke-dashoffset: 0;
  }
}

/* Brand color utilities */
.bg-teal-900 {
  background-color: #023942;
}

.text-teal-900 {
  color: #2FA0B5;
  ;
}

.text-orange-500 {
  color: #F75F0B;
}

.bg-orange-500 {
  background-color: #F75F0B;
}

.bg-orange-600 {
  background-color: #E0540A;
}

.border-orange-500 {
  border-color: #F75F0B;
}

.text-light-cyan {
  color: #CFF8FF;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}